:root {
    /* color */
    --color-green: #68bd19;
    --color-white: #ffffff;
    --color-gray: #ccc;

    /* space */
    --space-general: 3rem;
    --space-narrow: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    background: var(--color-green);
    color: var(--color-white);
    text-align: center;
    padding: var(--space-general);
}

.word-display {
    margin-top: var(--space-general);
    font-size: 80px;
    color: var(--color-green);
}

.word-input-box {
    margin-top: var(--space-general);
}

.word-input {
    padding: 0.5rem;
    width: 300px;
}

.game-info {
    margin-top: var(--space-narrow);
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.time, .score, .recent-score {
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button {
    width: 100px;
    height: 35px;
    background: var(--color-green);
    color: var(--color-white);
    border: none;
    margin-top: var(--space-general);
    margin-right: 1rem;
    cursor: pointer;

}

.recall-score {
    margin-top: var(--space-narrow);
    font-size: 0.8rem;

}

.loading {
    background: var(--color-gray);
    cursor: not-allowed;
}